<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
</head>

<body>


  <hr>
  <header class="perfil">
    <img class="perfil-foto" src="assets/img/yo.jpg" />
    <div class="titulo">
      <h1>Abel Gomez</h1>
      <h3>TECNOLOGO SUPERIOR EN DESARROLLO DE SOFTWARE</h3>
      <p>#java #python</p>
      <div class="container-icones">
        <a href="https://codepen.io/shisui-Gomez" title="Codepen" target="_blank" class="icones-perfil"><i
            class="devicon-codepen-plain"></i></a>
        <a href="https://github.com/abelgomezc" title="GitHub" target="_blank" class="icones-perfil"><i
            class="devicon-github-original"></i></a>
        <a href="https://www.linkedin.com/in/abel-g%C3%B3mez-17080529b/" title="LinkedIn" target="_blank"
          class="icones-perfil"><i class="devicon-linkedin-plain"></i></a>
        <a href="" title="Twitter" target="_blank" class="icones-perfil"><i class="devicon-twitter-original"></i></a>
      </div>
    </div>
  </header>

  <main class="projetos">
    <div class="container-projetos">
      <h3>Sobre mi</h3>
      <p class="texto-projetos">Como desarrollador de software, me caracterizo por mi constante curiosidad y
        mi deseo de descubrir y dominar tecnologías emergentes para idear soluciones
        tecnológicas vanguardistas. Mi trabajo se distingue por la dedicación y la
        seriedad con las que abordo cada tarea. Tengo la capacidad de enfrentarme a
        desafíos inesperados y adquirir nuevos conocimientos con agilidad.</p>


      <ol>
            <li><a href="" target="_blank"> Java</a></li>
            <li><a href="" target="_blank">  Python</a></li>
            <li><a href="" target="_blank">  Spring Boot</a></li>
            <li><a href="" target="_blank">   Angular</a></li>
            <li><a href="" target="_blank">  SQL</a></li>
      
          </ol>


    </div>
  </main>



</body>

</html>